body{
  /*background-image:  url("../images/test.jpg");*/
  background-color: #20232c;
  padding-top: 60px;
}

h2 {
  color: #c16161 ;
}

/*.row-margin-bottom{
  margin-bottom: 20px;
}

.anchor{
    position: absolute;
    top: -60px;
}

.fill-page{
  margin-bottom: 500px
}*/
