body, html{
  height: 100%; 
  font-family: Montserrat, Arial, Helvetica, sans-serif !important;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.otf");
}

.bg {
  padding-top: 60px;
  height: 100%; 
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #c16161 ;
}

.author {
  text-align: right;
}

.quote {
  font-style: italic;
}

.bg-light {
  background-color: #f8f9fac7!important;
}